In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('jaad_location_features.pkl')
df.head()

,Frame,Height,Mid_x,Mid_y,Occlusion,Pedestrian,Start_x,Start_y,Video,Width,Labeled,Past_x,Past_y,Future_x,Future_y,detection_length
0,0.0,78.666667,333.333333,526.666667,0.0,1.0,310.666667,487.333333,video0001.mp4,45.333333,0,0,0,0,0,0
1,1.0,79.333333,331.333333,526.666667,0.0,1.0,308.000000,487.333333,video0001.mp4,46.666667,0,0,0,0,0,1
2,2.0,80.000000,330.000000,528.000000,0.0,1.0,306.000000,488.000000,video0001.mp4,48.000000,0,0,0,0,0,2
3,3.0,80.000000,328.000000,528.000000,0.0,1.0,303.333333,488.000000,video0001.mp4,49.333333,0,0,0,0,0,3
4,4.0,80.666667,325.333333,528.000000,0.0,1.0,300.666667,488.000000,video0001.mp4,50.000000,0,0,0,0,0,4

In [3]:
df.columns

Index(['Frame', 'Height', 'Mid_x', 'Mid_y', 'Occlusion', 'Pedestrian',
       'Start_x', 'Start_y', 'Video', 'Width', 'Labeled', 'Past_x', 'Past_y',
       'Future_x', 'Future_y', 'detection_length'],
      dtype='object')

In [23]:
c = 0
for x in df.Start_y:
    try:
        if(len(x) > 1):
            c += 1 
    except TypeError as e:
        pass
c

0

In [17]:
df.shape

(46065, 16)

In [25]:
df.Pedestrian.unique()

array([1., 2., 0., 3., 4., 5., 6., 7., 8., 9.])

In [38]:
df.Frame[:280]

0        0.0
1        1.0
2        2.0
3        3.0
4        4.0
       ...
275    275.0
276    276.0
277      0.0
278      1.0
279      2.0
Name: Frame, Length: 280, dtype: float64

In [44]:
new_df = df[['Frame', 'Pedestrian', 'Mid_x', 'Mid_y', 'Width', 'Height']]

In [48]:
new_df.head()

   Frame  Pedestrian       Mid_x       Mid_y      Width     Height
0    0.0         1.0  333.333333  526.666667  45.333333  78.666667
1    1.0         1.0  331.333333  526.666667  46.666667  79.333333
2    2.0         1.0  330.000000  528.000000  48.000000  80.000000
3    3.0         1.0  328.000000  528.000000  49.333333  80.000000
4    4.0         1.0  325.333333  528.000000  50.000000  80.666667

In [49]:
new_df.to_csv('data.csv')